@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background: #E0E0E0;
    font-family: 'Open Sans', sans-serif;
}

table {
	background: #F5F5F5;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.rooster-table td {
	height: 50px;
}

.rooster-table td:first-child {
	width: 20px;
}

.container {
	position: relative;
    z-index: 25;
	width: 1000px;
}

.lesson {
	background: #FAFAFA;
	border-left: 5px solid blue;
	width: 166px;
	height: 49px;
	position: absolute;
	left: 0;
	top: 51px;
	padding-left: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: none;
}

.sidebar {
    background: #FAFAFA;
    width: 350px;
    min-height: 100%;
    position: fixed;
    z-index: 100;
//    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
//    display: none;
    -webkit-transition: left 1s;
    transition: left 1s;
    left: -360px;
}

header {
    background: #D50000;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 10px;
    position:fixed;
    z-index: 50;
    width: 100%;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

header .title {
    color: #FFF;
    font-size: 14pt;
    font-weight: bold;
}

.sidebar .content {

    padding: 10px 10px 0 10px;
}

.sidebar .header {
    height: 130px;
    background: #C30000;
    //padding: 40px 0 0 40px;
    padding-left: 10px;
}

.sidebar .header .title {
    color: #FFF;
    font-size: 20pt;
    font-weight: bold;
    display: block;
    margin: 25px 0 0 80px;
}








@-webkit-keyframes slideInLeft { 
    0% { 
        opacity: 1; 
        left: -360px
    } 
    100% { 
        opacity: 1; 
        left: 0px
    } 
}


@-webkit-keyframes slideOutLeft { 
    0% { 
        opacity: 1; 
        left: 0px
    } 
    100% { 
        opacity: 1; 
        left: -360px
    } 
}
